body {
  padding: 50px;
  font: 16px Helvetica, Arial, sans-serif;
  background: #333;
}
a {
  color: #00b7ff;
}
#wrapper {
  width: 920px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  padding: 20px;
}
