/**
 * Liff - Styling
 */

/* Reset
----------------------------*/

blockquote,body,html,dl,dd,figure,img,p,ul,ol,li {padding:0;margin:0;}
caption,h1,h2,h3,h4,h5,h6,td,th {font-weight:400;margin:0;}
img,hr {border:0;max-width:100%;}
img {height:auto;display:block;}
main {display:block;}
ul,ol {list-style:none;}
*,:before,:after {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}

/* Variables
----------------------------*/

$fontStack: 16px Halant, Georgia, serif;

$inputBackground: #D8D8D8;
$inputBorder: #979797;
$inputColor: #9E9E9E;

/* Global
----------------------------*/

body {
	background: #fff;
	color: #333;
	font: $fontStack;
}

html {
	height: 100%;
}

.center {
	text-align: center;
}

/* Text level typography
----------------------------*/

a {
	text-decoration: none;
	color: #8c8585;
}

/* Forms
----------------------------*/

form,
input,
select,
textarea {
	font: $fontStack;
}

input:not([type='submit']),
input:not([type='radio']),
input:not([type='checkbox']),
textarea,
select {
	line-height: 1;
	background: $inputBackground;
	font-size: 2.4375em;
	padding: 0.6rem 1rem;
	border: 0.125rem solid $inputBorder;
	color: $inputColor;
	width: 100%;
}

/* Home
----------------------------*/

body.home {
	min-height: 100%;
	max-height: 100%;
	background: url( '../img/l.svg' ) center center/auto 90% no-repeat #6c6666;
	text-align: center;
	position: relative;
	color: #fff;
}

.home-top {
	font:2.25em Cinzel,serif;
}

.home-top .entry-title {
	position: relative;
	display: inline-block;
	margin: 1.5em 0 0;
}

.home-top .entry-title:before,
.home-top .entry-title:after {
	position: absolute;
	background: #878686;
	content: '';
	height: 1px;
	width: 1.3em;
	left: -2.2em;
	top: .68em;
}

.home-top .entry-title:after {
	right: -2.2em;
	left: auto;
}

.home-top a {
	color: #fff;
}

.home-top nav a {
	-webkit-transition:300ms all;
	   -moz-transition:300ms all;
	    -ms-transition:300ms all;
	     -o-transition:300ms all;
	        transition:300ms all;
	border-bottom: 1px solid transparent;
	display: inline-block;
	margin: 0.3em 1em 0;
	font: 0.5em Halant, sans-serif;
}

.home-top nav a:hover {
	border-bottom: 1px solid #8c8585;
}

.home-search-form {
	max-width: 32rem;
	position: relative;
	margin: 0 auto;

	.search-text {
		padding-right: 4rem;
	}

	.search-submit {
		background: url( '../img/search.svg' ) no-repeat center $inputBackground;
		position: absolute;
		padding: 0.5rem;
		cursor: pointer;
		height: 3.65rem;
		border: 0;
		width: 3.66rem;
		right: 0.125rem;
		top: 0.125rem;
	}

}

@media screen and ( min-width: 30em ) {
	
	.home-top {
		font-size: 3em;
	}

}

@media screen and ( min-width: 40em ) {

	.home-top {
		font-size: 4em
	}

}

@media screen and ( min-width: 50em ) {
	
	.home-top {
		font-size: 5em
	}

}

#place-map {
	height: 400px;
	width: 400px;
}