/*! liff 2014-10-14 */

/**
 * Liff - Styling
 */
/* Reset
----------------------------*/
blockquote, body, html, dl, dd, figure, img, p, ul, ol, li {
  padding: 0;
  margin: 0; }

caption, h1, h2, h3, h4, h5, h6, td, th {
  font-weight: 400;
  margin: 0; }

img, hr {
  border: 0;
  max-width: 100%; }

img {
  height: auto;
  display: block; }

main {
  display: block; }

ul, ol {
  list-style: none; }

*, :before, :after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Variables
----------------------------*/
/* Global
----------------------------*/
body {
  background: #fff;
  color: #333;
  font: 16px Halant, Georgia, serif; }

html {
  height: 100%; }

.center {
  text-align: center; }

.wrapper {
  max-width: 62rem;
  padding: 0 1rem;
  margin: 0 auto; }

.wrapper:before,
.wrapper:after {
  display: table;
  content: " "; }

.wrapper:after {
  clear: left; }

/* Text level typography
----------------------------*/
p {
  font-size: 1.5rem;
  line-height: 1.3;
  margin: 0 0 1rem;
  color: #979797; }

a {
  text-decoration: none;
  color: #8c8585; }

/* Forms
----------------------------*/
form,
input,
select,
textarea {
  font: 16px Halant, Georgia, serif; }

input:not([type='submit']),
input:not([type='radio']),
input:not([type='checkbox']),
textarea,
select {
  line-height: 1;
  background: #d8d8d8;
  font-size: 2.4375em;
  padding: 0.6rem 1rem;
  border: 0.125rem solid #979797;
  color: #9e9e9e;
  width: 100%; }

/* Header
----------------------------*/
.top {
  background: url("../img/l.svg") center center/auto 80% no-repeat #6c6666;
  text-align: center;
  position: relative;
  padding: 1.5rem 0;
  color: #fff; }

.top .wrapper {
  max-width: 42.5rem;
  padding: 1.5rem 1rem; }

.top form {
  display: none; }

.top-nav a {
  font-size: 1.4em;
  color: #d0d0d0; }

.top-nav a:first-child {
  margin-right: 8rem; }

.site-title {
  line-height: 1;
  font-size: 3.45em;
  position: relative;
  display: inline-block;
  margin: 0;
  color: #fff; }

.site-title:before,
.site-title:after {
  position: absolute;
  background: #878686;
  content: '';
  height: 1px;
  width: 1em;
  left: -1.7em;
  top: 0.48em; }

.site-title:after {
  right: -1.7em;
  left: auto; }

@media screen and (min-width: 25em) {
  .top-navigation {
    font-size: 1.3em; }

  .top-nav a:first-child {
    margin-right: 12rem; } }
@media screen and (min-width: 30em) {
  .top-navigation {
    font-size: 1.4em; } }
@media screen and (min-width: 35em) {
  .top-navigation {
    font-size: 1.6em; }

  .top-nav a:first-child {
    margin-right: 15rem; }

  .site-title:before {
    width: 1.6em;
    left: -2.2em; }

  .site-title:after {
    width: 1.6em;
    right: -2.2em; } }
@media screen and (min-width: 40em) {
  .top-navigation {
    font-size: 1.8em; }

  .top-nav a:first-child {
    margin-right: 17.2rem; } }
/* Home
----------------------------*/
body.home {
  min-height: 100%;
  max-height: 100%;
  background: url("../img/l.svg") center center/auto 90% no-repeat #6c6666;
  text-align: center;
  position: relative;
  color: #fff; }

.home .top-navigation {
  padding-top: 3rem; }

@media screen and (min-width: 40em) {
  .home .top-navigation {
    padding-top: 8rem; } }
.home-search-form {
  max-width: 32rem;
  position: relative;
  margin: 0 auto;
  display: none; }
  .home-search-form .search-text {
    padding-right: 4rem; }
  .home-search-form .search-submit {
    background: url("../img/search.svg") no-repeat center #d8d8d8;
    position: absolute;
    padding: 0.5rem;
    cursor: pointer;
    height: 3.65rem;
    border: 0;
    width: 3.66rem;
    right: 0.125rem;
    top: 0.125rem; }

/* Place
----------------------------*/
.place-container {
  padding: 1.5rem 1rem;
  max-width: 48rem; }

.place-title {
  font-size: 2.8em;
  margin: 0;
  color: #8c8585; }

.place-lexical {
  font-size: 1.375em;
  display: block;
  margin: 0 0 2rem;
  color: #d0d0d0; }

.place-definition {
  margin: 0 0 2.5rem; }

.place-map {
  margin: 0 0 2rem;
  height: 0;
  width: 100%;
  padding-bottom: 45%;
  position: relative; }

.place-map:after {
  content: "";
  background: #D0D0D0;
  opacity: 0.4;
  position: absolute;
  z-index: 6;
  height: 120%;
  width: 100%;
  left: 0;
  top: 0; }

/* Utility
----------------------------*/
.clear:before,
.clear:after {
  display: table;
  content: " "; }

.clear:after {
  clear: both; }
