header.top.top-navigation
  div.wrapper
    a.site-title(href='#') Liff
    nav.top-nav.clear
      a.search-link(href='#') Search
      a.random-link(href='#') Random
    form.search-form.home-search-form
        input.search-text.center(type='search',name='s',placeholder='eg. Botolphs')
        button.search-submit