extends layout

block content
  header.home-top.top-navigation
    h1.site-title= title
    nav.top-nav
      a.search-link(href='#') Search
      a.random-link(href='#') Random
    form.search-form.home-search-form
      input.search-text.center(type='search',name='s',placeholder='eg. Botolphs')
      button.search-submit