doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    section#wrapper!= body
        block content
