doctype html
html
  head
    title= title
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Droid+Serif')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header.top
        h1.entry-title Liff pattern library
    section#theLibrary
        block elements