extends style-layout

block elements
  section#typography
    h1.element-group-title Typography
    h1 Heading One
    h2 Heading Two
    h3 Heading Three
    h4 Heading Four
    h5 Heading Five
    h6 Heading Six